<h1>Computer Languages:</h1>

<ul>
    <% @languages.each do |language|%>
    <h2><%= language.name%></h2>
    <p><%= language.description%></p> 
    <img src="<%= language.logo_image%>" alt="language">
    <% end %>

  


</ul>



