<h1>Here's a list of the most popular languages of 2020:</h1> 
    <a href="/languages/new">Add a language to this list!</a>

    <% @languages.each do |language|%>
    <h2><a href="/languages/<%= language.id%>"><%= language.name%></a> </h2> 
    <!-- <img src="<%= language.logo_image%>" alt="language"> -->
    <% language.companies.map { |c| c.name }.join(",") %>
    <% if current_user == language.user%>
        <a href="/languages/<%= language.id %>/edit">Edit</a>
    <% end %>
<% end %>

  






