<h1>Add a new Language!</h1>
<form action="/languages" method="post">
    <!-- <label>Language Name</label> -->
    <input type="text" name="name" placeholder="Language Name "><br>
    <!-- <label>Language Image</label> --><br>
    <input type="text" name="logo_image" placeholder="Image URL"><br>
    <!-- <label>Companies that use this language</label> --><br>
    <input type="text" name="companies" placeholder="Companies"><br>
    <!-- <label>Short bio and description of Language</label> --><br>
    <textarea name="description" placeholder="Short description"></textarea><br><br><br>
   
    <button>Add Language</button>


</form>
