<h1>Add a new Language!</h1>
<form action="/languages" method="post">
    <label>Language Name</label>
    <input type="text" name="name" placeholder="Language Name ">
    <label>Short bio and description of Language</label>
    <input type="textarea" name="name" placeholder="Description">
    <label>Companies that use this language</label>
    <input type="text" name="name" placeholder="Companies">



</form>
