<h1>Add a new Language!</h1>
<form action="/languages" method="post">
    <label>Language Name</label>
    <input type="text" name="name" placeholder="Language Name "><br>
    <label>Short bio and description of Language</label>
    <input type="textarea" name="name" placeholder="Description"><br>
    <label>Companies that use this language</label>
    <input type="text" name="name" placeholder="Companies"><br><br>
    <input type="submit"></input>


</form>
