<h1>☑️Edit your checklist, or check to see what languages your friends are learning!☑️</h1>
<a href="/users/new">Add a new checklist</a>
    <% @user.each do |user|%>
    <h2><a href="/users/<%= user.id%>"><%= user.username%></a> </h2> 
<% end %>
