<h1>☑️Welcome to TechCheck!☑️</h1><br>
<h2>Sign in to access your tech checklist!</h2>
<%= @error %>
<form action="/signup" method="post"><br>
    <label>Please enter your username</label>
    <input type="text" name="username"><br><br>
    <label>Enter your password</label>
    <input type="password" name='password'><br><br>
    <input type="submit" value="Log in">
</form>