<h1>☑️Add a new Checklist!☑️</h1>
<p><%=@error%></p>
<form action="/users" method="post">
    <label>User Name</label>
    <label>Your dream company to work for</label><br>
    <textarea name="companies" placeholder="companies></textarea><br><br><br>
     <label>✔️Check the companies that use this language:✔️</label>
    <input type="checkbox" name="name" placeholder="User Name "><br>
    
    <input type="text" name="logo_image" placeholder="Image URL"><br>
    <!-- <label>Companies that use this language</label> --><br>
    
    
    
   <br>
    <button>Add Checklist</button>
    <% #add option to add this language to checklist %> 
</form>