<h1> <%= @user.username%> </h1>
<p1> Company Checklist: </p1>
    <% @user.companies.each do |company| %>
        <h3><%= company.name %></h3>
        <p>Languages you'll need to learn in order to apply here: </p> <li><%= company.computer_languages %></li>
    <% end %> <br>

    <% if current_user.id == @user.id %>
        <a href="/users/<%= @user.id %>/edit">Edit Checklist</a><br><br>
    <% end %>

 






   

     




