<h1> <%= @user.username%> </h1>
<p1> Company Checklist: </p1>
    <% @user.companies.each do |company| %>
        <h3><%= company.name %></h3>
            <% company.languages.each do |language| %> 
            <li><%= language.name %> </li>
        <% end %>
   <% end %> <br>
 <a href="/users/<%= @user.id %>/edit">Edit Checklist</a>
   

     




